@font-face {
    font-family: ComicBook;
    src: url('../font/comic_book/Comic Book.otf');
}
@font-face {
    font-family: ComicSansMS;
    src: url('../font/comic_book/Comic Sans MS.ttf');
}
@font-face {
    font-family: Mask;
    src: url('../font/masked_marvel/mask.ttf');
}
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none!important;
    color:#c20e1a!important;
}
p{
    margin-top:20px;
    margin-bottom:20px;
}
body{
    margin:0;
    padding:0;
    font-family: ComicSansMS;
    font-size: 18px;
    position: relative;
}
.posrel{
    position: relative;
}
.posabs{
    position: absolute;
}
.sec-1-body{
    background-image: url('../images/1/1_backgroundkota.png');
    background-size: 100%;
    background-repeat: repeat;
    background-position: bottom left;
    padding-top:20px;
    padding-bottom:20px;
}
.sec-2{
    background:#183763;
    padding-bottom:20px;
    padding-top:80px;
}
.sec-3{
    background:url('../images/21_backgroundkomikputih.png') bottom left;
    padding:20px 0;
    background-position: center;
}
.sec-4{
    background:url('../images/4/4_backgroundkomikbiru.png') bottom left;
    padding:20px 0;
}
.sec-5{
    background:url('../images/21_backgroundkomikputih.png') bottom left;
    padding:20px 0;
    background-position: center;
}
.sec-6{
    background:url('../images/4/4_backgroundkomikbiru.png') bottom left;
    padding:20px 0;
}
@media only screen and (min-width: 481px) {
    .sec-1{
        min-height: 750px;
        background-image: url('../images/1/1_backgroundjudulhitam.png');
        background-size: 120%;
        background-position: top left;
    }   
    .hashtagstan{
        padding-top:3%;
        width:25%;
    }
    .thor{
        z-index:1;
        left:0px;
        width: 30%;
        top:5%;
    }
    .capt{
        z-index:1;
        left:5%;
        top:40%;
    }
    .spidey{
        z-index:1;
        left:40%;
        top:19%;
        width:33%;
    }
    .hulk{
        z-index:1;
        right:0px;
        top:40%;
    }
    .wolve{
        z-index:1;
        right:0px;
        top:5%;
    }
    .gene{
        z-index: 2;
        position: relative;
    }
    .funfact1{
        width:250px;;
        right:2%;
        top:40%;
    }
    .funfact2{
        width:250px;;
        bottom:40%;
        left:2%;
    }
    .funfact3{
        width:250px;;
        right:2%;
        bottom:10%;
    }
    .logohai{
        width:10%;
        bottom:5%;
        right:5%;
    }
    .spideyverse{
        width:10%;
        right:5%;
        top:0;
    }
    .spideyverse2{
        width:10%;
        right:-7%;
        top:0;
    }
    .funfact4{
        width:250px;
        left:2%;
        top:30%;
    }
    .funfact5{
        width:250px;
        bottom:5%;
        right:2%;
    }
    .funfact6{
        width:250px;
        left:2%;
        top:30%;
    }
    .funfact7{
        width:250px;
        right:2%;
        top:60%;
    }
    .funfact8{
        width:250px;
        left:2%;
        bottom:10%;
    }
    .quotes1{
        top:0;left:0;
    }
    .quotes2{
        float:right;
        margin-top:-5%;
    }
    .quotes3{
        float:left;
        margin-top:-5%;
    }
    .quotes4{
        float:right;
        margin-top:-5%;
    }
    .quotes5{
        float:left;
        margin-top:-5%;
    }
    .quotes6{
        float:right;
        margin-top:0%;
    }
    .quotes7{
        float:left;
        margin-top:0;
    }
    .quotes8{
        float:right;
        margin-top:-5%;
    }
    .kutipbuka{
        left:5%;
        top:7%;
    }
    .kutiptutup{
        right:3%;
        bottom:8%;
    }
    .funfact9{
        width:250px;
        right:2%;
        top:40%;
    }
    .funfact10{
        width:250px;
        left:2%;
        bottom:5%;
    }
    .popup-title{
        font-size:8vh;
        line-height: 6vh;
        font-family:Mask;
    }
    .text{
        font-size:1.8vh;
    }
    /* CSS talk bubble */
    .talk-bubble {
      display: inline-block;
      position: relative;
        height: auto;
    }
    .border{
      border: 5pt solid #000;
    }
    .round{
      border-radius: 5pt;
        -webkit-border-radius: 5pt;
        -moz-border-radius: 5pt;
    
    }
    
    /* Right triangle placed top left flush. */
    .tri-right.border.left-top:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: -40px;
        right: auto;
      top: -8px;
        bottom: auto;
        border: 32px solid;
        border-color: #666 transparent transparent transparent;
    }
    .tri-right.left-top:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: -20px;
        right: auto;
      top: 0px;
        bottom: auto;
        border: 22px solid;
        border-color: lightyellow transparent transparent transparent;
    }
    
    /* Right triangle, left side slightly down */
    .tri-right.border.left-in:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: -40px;
        right: auto;
      top: 30px;
        bottom: auto;
        border: 20px solid;
        border-color: #000 #000 transparent transparent;
    }
    .tri-right.left-in:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: -20px;
        right: auto;
      top: 38px;
        bottom: auto;
        border: 12px solid;
        border-color: #fff #fff transparent transparent;
    }
    
    /*Right triangle, placed bottom left side slightly in*/
    .tri-right.border.btm-left:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -8px;
      right: auto;
      top: auto;
        bottom: -40px;
        border: 32px solid;
        border-color: transparent transparent transparent #666;
    }
    .tri-right.btm-left:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 0px;
      right: auto;
      top: auto;
        bottom: -20px;
        border: 22px solid;
        border-color: transparent transparent transparent lightyellow;
    }
    
    /*Right triangle, placed bottom left side slightly in*/
    .tri-right.border.btm-left-in:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 30px;
      right: auto;
      top: auto;
        bottom: -40px;
        border: 20px solid;
        border-color: #666 transparent transparent #666;
    }
    .tri-right.btm-left-in:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 38px;
      right: auto;
      top: auto;
        bottom: -20px;
        border: 12px solid;
        border-color: lightyellow transparent transparent lightyellow;
    }
    
    /*Right triangle, placed bottom right side slightly in*/
    .tri-right.border.btm-right-in:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: auto;
        right: 30px;
        bottom: -40px;
        border: 20px solid;
        border-color: #666 #666 transparent transparent;
    }
    .tri-right.btm-right-in:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: auto;
        right: 38px;
        bottom: -20px;
        border: 12px solid;
        border-color: lightyellow lightyellow transparent transparent;
    }
    /*
        left: -8px;
      right: auto;
      top: auto;
        bottom: -40px;
        border: 32px solid;
        border-color: transparent transparent transparent #666;
        left: 0px;
      right: auto;
      top: auto;
        bottom: -20px;
        border: 22px solid;
        border-color: transparent transparent transparent lightyellow;
    
    /*Right triangle, placed bottom right side slightly in*/
    .tri-right.border.btm-right:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: auto;
        right: -8px;
        bottom: -40px;
        border: 20px solid;
        border-color: #666 #666 transparent transparent;
    }
    .tri-right.btm-right:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: auto;
        right: 0px;
        bottom: -20px;
        border: 12px solid;
        border-color: lightyellow lightyellow transparent transparent;
    }
    
    /* Right triangle, right side slightly down*/
    .tri-right.border.right-in:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: auto;
        right: -40px;
      top: 30px;
        bottom: auto;
        border: 20px solid;
        border-color: #666 transparent transparent #666;
    }
    .tri-right.right-in:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: auto;
        right: -20px;
      top: 38px;
        bottom: auto;
        border: 12px solid;
        border-color: lightyellow transparent transparent lightyellow;
    }
    
    /* Right triangle placed top right flush. */
    .tri-right.border.right-top:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: auto;
        right: -40px;
      top: -8px;
        bottom: auto;
        border: 32px solid;
        border-color: #666 transparent transparent transparent;
    }
    .tri-right.right-top:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
      left: auto;
        right: -20px;
      top: 0px;
        bottom: auto;
        border: 20px solid;
        border-color: lightyellow transparent transparent transparent;
    }
    
    /* talk bubble contents */
    .talktext{
      padding: 1em;
        text-align: left;
      line-height: 1.5em;
    }
    .talktext p{
      /* remove webkit p margins */
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
    }
}

@media only screen and (max-width: 480px) {
    .sec-1{
        min-height: 455px;
        background-image: url('../images/1/1_backgroundjudulhitam.png');
        background-size: 100%;
        background-position: top left;
    }   
    .hashtagstan{
        padding-top:3%;
        width:200px;
    }
    .thor{
        z-index:1;
        left:0px;
        width: 40%;
        top:20%;
    }
    .capt{
        z-index:1;
        left:5%;
        top:40%;
        width: 40%;
    }
    .spidey{
        z-index:1;
        left:30%;
        top:35%;
        width:40%;
    }
    .hulk{
        z-index:1;
        right:30px;
        top:40%;
        width: 40%;
    }
    .wolve{
        z-index:1;
        right:0px;
        top:20%;
        width: 40%;
    }
    .logohai{
        width:5%;
        bottom:1%;
        right:1%;
    }
    .gene{
        z-index: 2;
        position: absolute;
        bottom:5%;
    }
    .kutipbuka{
        left:5%;
        top:7%;
        width:50px;
    }
    .kutiptutup{
        right:2%;
        bottom:9%;
        width:50px;
    }
    .popup-title{
        font-size:20pt;
        line-height: 15pt;
        font-family:Mask;
    }
}
.img-responsive{
    max-width: 100%!important;
}
.intro{
    font-size:2.5vh;
}
.box-title-3{
	font-family:ComicBook;
	margin-bottom:0;
    padding-bottom:20px;
}
.modal { max-width: 85% !important ; max-height: 85% !important ; width:95% !important; height: 95% !important; }
.popup{
	background:url('../images/21_backgroundkomikputih.png') bottom left;
	background-size:cover;
    padding-bottom:20px;
    background-position: center;
}
.popup-emp{
	font-family:ComicBook;
	margin-bottom:0;
    padding-bottom:0;
}
.popup-item p{
	margin-top:1px;
}
.popup-item{
	margin-bottom:10px;
}
.popup-logos{
	width:150px;
	max-width:20%;
}
.popup-body{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
.popup-caption{
    font-family: ComicSansMS;
    font-size:3vh;
    margin-top:20px;
}
.popup-auth{
    padding:10px;
    background:#183763;
    color:#FFF;
    font-family: ComicBook;
}
.box-chat{
    padding:20px;
}
.box-arrow{
    position: absolute;
    top:10%;
    left:-14.8%;
    border-right:#ccc 4pt solid;
}
.stldmm{
    padding-bottom:5%;
}
.box{
    padding-bottom:20px;
}
  